/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  margin: 20px 0;
  color: rgb(60, 60, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown {
  cursor: pointer;
}
.body-container {
  margin-top: 20px;
}
.urlTitle {
  color: #006eaf;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.urlTitle span {
  font-size: 18px;
  color: rgb(153, 153, 153);
  margin-left: 5px;
}
.header-title__text {
  display: flex;
}
.header-title__btn {
  display: flex;
}
.header-title__text .menu-listMeeting {
  min-width: 200px;
}
.header-title__text .dropdown {
  display: flex;
  align-items: center;
}
.header-title__text .dropdown-item {
  justify-content: space-between;
  display: flex;
  padding: 10px;
  align-items: center;
}
.header-title__text .dropdown-item span {
  color: #006eaf;
}
.header-title__text .active {
  background: rgba(205, 234, 247, 0.35);
  color: unset;
  font-weight: bold;
}
.dropdown-item:active {
  background-color: #e9ecef;
}
.meetings-status {
  border-radius: 100px;
  color: white;
  background-color: rgb(167, 110, 245);
  font-weight: 600;
  font-size: 14px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.meetings-status__minutes {
  background-color: rgb(132, 215, 206);
  color: rgb(60, 60, 60);
}
.dropdown-item {
  white-space: unset;
}
.dropdown-menu.menu-export {
  width: 250px;
  transform: translate(-43%, 38%) !important;
}
.btn-custom {
  background-color: #fff;
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0px 11px;
  font-size: 14px;
}
.btn-custom span {
  margin-right: 10px;
}
.btn-custom:hover {
  box-shadow: none;
  background: rgb(226, 226, 226);
  color: rgb(0, 110, 175);
}
.header-title__btn .menu-more {
  left: 100% !important;
  transform: translate(-100%, 35px) !important;
  min-width: 250px;
}
.header-title__btn .dropdown-item {
  display: flex;
  align-items: center;
  color: rgb(60, 60, 60);
  padding: 10px;
}
.header-title__btn .dropdown-item span {
  margin-right: 10px;
}
.meeting-body__header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  position: relative;
}
.meeting-body__header .formMeetingInfo {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-right: 15px;
}
.meeting-body__header .form-title {
  color: rgb(102, 102, 102);
  margin-right: 5px;
  font-weight: 500;
}
.meeting-body__header .form-des {
  border: 1px solid transparent;
  color: rgb(60, 60, 60);
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 36px;
  max-width: 100%;
  position: relative;
  width: fit-content;
  padding: 4px 8px 4px 12px;
  margin: 0 5px;
}
.meeting-body__header .form-des span {
  color: rgb(0, 110, 175);
  margin-left: 12px;
  visibility: hidden;
}
.meeting-body__header .form-des:hover {
  border: 1px dashed rgb(6, 150, 215);
}
.meeting-body__header .form-des:hover span {
  visibility: visible;
}
.optionMeetingInfo {
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  background-color: #fff;
  display: flex;
  z-index: 1;
  height: 50%;
  color: #666;
}
.optionMeetingInfo span {
  padding: 5px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
  color: rgb(60, 60, 60);
  margin-left: 10px;
  cursor: pointer;
}
.optionMeetingInfo span:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
  background: rgb(246, 246, 246);
}
.meeting-body__content {
  margin-top: 40px;
  max-width: 63vw;
  padding-left: 30px;
  transition: padding-left 0.1s;
  margin-bottom: 80px;
}
.detailsMeetingInfo {
  max-width: 800px;
  margin-left: -5px;
  padding-bottom: 24px;
}
.detailsMeetingInfo-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding-left: 4px;
  color: rgb(60, 60, 60);
}
.detailsMeetingInfo textarea {
  resize: none;
  line-height: 24px;
}
.detailsMeetingInfo-item {
  margin: 20px 0;
}
.detailsMeetingInfo-item .detailsMeetingInfo-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}
.detailsMeetingInfo-item .detailsMeetingInfo-title span {
  margin-right: 10px;
  cursor: pointer;
}
.detailsMeetingInfo-item .detailsMeetingInfo-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 50px;
  padding: 5px 10px;
}
.detailsMeetingInfo-item .detailsMeetingInfo-child > div > span {
  margin-left: 10px;
  padding: 6px;
  cursor: pointer;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  visibility: hidden;
}
.detailsMeetingInfo-item .detailsMeetingInfo-child:hover > div > span {
  visibility: visible;
}
.detailsMeetingInfo-item .detailsMeetingInfo-child__option {
  display: flex;
  align-items: center;
}
.detailsMeetingInfo-item .detailsMeetingInfo-listChild {
  margin-top: 10px;
  display: none;
}
.show {
  display: block !important;
}
.detailsMeetingInfo-child__btn {
  margin: 10px 0 10px 50px;
}
.detailsMeetingInfo-item_btn {
  margin: 10px 0;
}

.modal-dialog {
  max-width: 600px;
}
.modalUploadFile .modal-body {
  border: 1px dashed rgb(187, 187, 187);
  margin: 10px 20px;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  height: 300px;
}
.modalUploadFile.modal-body p {
  font-weight: 600;
}
.modalUploadFile .modal-body label {
  color: rgb(0, 110, 175);
  cursor: pointer;
}
@media only screen and (max-width: 1199px) {
  .body-header__title {
    display: block;
  }
  .header-title__text {
    margin-bottom: 10px;
  }
}
