/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.form-body {
  display: flex;
  overflow: auto;
}
.body-container {
  width: 100%;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-btn {
  margin: 20px 0;
}
.item-btn > button:focus {
  box-shadow: none;
}
.item-btn > button {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
}
.item-btn > button span {
  margin-right: 10px;
}
.item-btn > button:hover {
  background-color: #007bff;
  border-color: #007bff;
}
.form-row textarea {
  resize: none;
  height: 100px;
  padding: 8px 12px;
  line-height: 20px;
}
.modal-dialog {
  max-width: 650px;
}
.label-helper {
  color: rgb(102, 102, 102);
  font-size: 16px;
  display: flex;
  align-items: center;
}
.label-helper span {
  margin: 0 5px;
  font-size: 20px;
}
.form-row {
  width: 100%;
  margin: 0;
}
.input-text {
  border: 1px solid rgb(187, 187, 187);
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding: 0px 12px 1px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.input-text:focus {
  border-color: rgb(6, 150, 215);
}
.input-text:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.form-control option.optionHidden {
  display: none;
}
.form-check {
  margin-bottom: 10px;
  color: rgb(60, 60, 60);
}
.form-check input {
  width: 18px;
  height: 18px;
}
.form-check-label {
  padding-left: 10px;
}
.projectType-title {
  font-weight: 600;
  color: rgb(60, 60, 60);
  font-size: 16px;
}
.row-mg {
  margin: 30px 0;
}
.item-options .item-optionInput {
  width: 350px;
  position: relative;
}
.item-options .item-optionInput input {
  padding-left: 40px;
}
.item-options .item-optionInput span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0px, -50%);
}
.body-list-sheets {
  height: calc(100vh - 335px);
  overflow: auto;
  color: rgb(60, 60, 60);
}
.table {
  margin-bottom: 0;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.table tr {
  display: grid;
  grid-template-columns: 15% 15% 15% 10% 10% 10% 10% 10% 5%;
}
.table tr td {
  display: flex;
  position: relative;
  align-items: center;
}
.table tr td:nth-child(1) span {
  margin-right: 5px;
  background: rgb(153, 153, 153);
  border-radius: 50%;
  padding: 3px;
  font-size: 20px;
}
.table tr th {
  position: relative;
}
.table .dropdown span {
  padding: 5px;
}
.table .dropdown-item {
  display: flex;
  align-items: center;
}
.table .dropdown-menu {
  transform: translate(-200px, 35px) !important;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.modal-body__title {
  color: rgb(60, 60, 60);
}
.modal-body__member {
  display: flex;
  margin: 30px 0;
}
.modal-body__member span {
  font-size: 45px;
  padding: 5px 5px 0;
  background: rgb(238, 238, 238);
  color: rgb(153, 153, 153);
  border-radius: 50%;
  margin-right: 10px;
}
.material-icons {
}
.member-info {
}
.member-name {
  font-weight: 500;
}
.member-email {
}
