/* header */
.header-nav {
  top: 0px;
  padding: 0 0 0 2%;
}
.navbar-nav {
  justify-content: end;
}
.navbar-brand {
  display: flex;
}
/* body */
.container-fluid {
  margin-top: 45px;
  width: 95%;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__tabs {
  position: relative;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
  border-color: rgb(6, 150, 215) !important;
}
.body-container {
  margin-top: 20px;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-options {
  display: flex;
  align-items: center;
  min-width: 350px;
}
.item-option {
  display: flex;
  align-items: center;
}
.item-options button:hover {
  background-color: #fff;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-options button {
  display: flex;
  align-items: center;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  color: rgb(102, 102, 102);
  width: 100%;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.onHover:hover {
  cursor: pointer;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-btn > button {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
}
.item-btn > button:focus {
  box-shadow: none;
}
.modal-dialog {
  max-width: 650px;
}
.label-helper {
  color: rgb(102, 102, 102);
  font-size: 16px;
}
.form-row {
  width: 100%;
  margin: 0;
}
.input-text {
  border: 1px solid rgb(187, 187, 187);
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding: 0px 12px 1px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.input-text:focus {
  border-color: rgb(6, 150, 215);
}
.input-text:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.input-row {
  display: flex;
}
.form-control option.optionHidden {
  display: none;
}
.inputCol1 {
  margin-right: 10px;
}
.inputCol2 {
  margin-left: 10px;
}
.nav-link {
  color: rgb(102, 102, 102);
}
.body-list-sheets {
  height: calc(100vh - 353px);
  overflow: auto;
  color: rgb(60, 60, 60);
  margin-top: 40px;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
  position: relative;
}
.table tr {
  display: grid;
  grid-template-columns: 80% 20%;
}
.table tr td {
  display: flex;
  align-items: center;
}
.table tr td img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
