/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  position: relative;
}
.banner-title {
  font-size: 30px;
}
.banner-img {
  width: 450px;
  display: flex;
  margin-right: 10%;
}
.banner-img img {
  opacity: 0.3;
  width: 50%;
}
.banner-des {
  font-size: 16px;
}
.banner-address {
  width: 100px;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0px;
}
.layout {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 -10px;
}
.card-item {
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: rgb(12 44 84 / 12%) 0px 1px 6px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  margin: 10px;
  font-size: 16px;
}
.card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 0.75rem 0;
}
.card-body {
  padding: 0;
}
.card-body__header {
  display: flex;
  justify-content: space-between;
}
.card-left {
  display: flex;
}
.card-img {
  width: 80px;
}
.card-img img {
  width: 100%;
}
.card-rain {
  margin-left: 10px;
}
.weather {
  font-weight: 600;
  font-size: 20px;
}
.card-footer {
  padding: 0.5rem 0;
  margin-top: 1rem;
}
.card-footer button {
  display: flex;
  align-items: center;
}
.btn-link:hover {
  text-decoration: none;
}
.line {
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(90deg, rgb(243, 232, 232), rgb(231, 219, 219)),
    #eee;
  background-clip: content-box, border-box;
  margin-top: 16px;
}
.card-body__link {
  font-size: 16px;
}
.list-cards {
  display: flex;
}
.d-gr {
  display: grid;
  grid-template-columns: 50% 50%;
}
.card-body__des {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin: 20px 0;
}
.card-body__des span {
  font-size: 26px;
  margin-right: 5px;
}
.card-body__btn {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
.list-card-left {
  width: 50%;
  height: 100%;
}
.list-card-right {
  width: 50%;
}
@media (max-width: 1199px) {
  .banner {
    display: block;
  }
  .layout {
    display: block;
  }
}
