/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__items {
  display: flex;
  justify-content: end;
}
.body-header__item {
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.body-header__item a,
.body-header__item span {
  color: rgb(0, 110, 175);
}
.dropdown-menu.menu-settings {
  width: 200px;
  transform: translate(-100%, -50%);
}
.dropdown-menu.menu-export {
  width: 150px;
}
.body-container {
  margin-top: 20px;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-helper span {
  margin-left: 5px;
  font-size: 20px;
}
.form-row textarea {
  resize: none;
  height: 70px;
  padding: 8px 12px;
  line-height: 20px;
}
.item-btn > button {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
}
.item-btn > button:focus {
  box-shadow: none;
}
.modal-dialog {
  max-width: 650px;
}
.label-helper {
  color: rgb(102, 102, 102);
  font-size: 16px;
  display: flex;
  align-items: center;
}
.form-row {
  width: 100%;
  margin: 0;
}
.input-text {
  border: 1px solid rgb(187, 187, 187);
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding: 0px 12px 1px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.input-text:focus {
  border-color: rgb(6, 150, 215);
}
.input-text:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.form-control option.optionHidden {
  display: none;
}
.item-options {
  display: flex;
  align-items: center;
}
.item-options .dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.item-options .dropdown-toggle a {
  color: rgb(102, 102, 102);
  /* font-weight: bold; */
  font-size: 16px;
  margin: 0 10px;
}
.item-option {
  display: flex;
  align-items: center;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.onHover:hover {
  cursor: pointer;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.body-list-sheets {
  height: calc(100vh - 370px);
  overflow: auto;
  color: rgb(60, 60, 60);
  margin-top: 40px;
}
.sheet-item {
  font-size: 16px;
  line-height: 25px;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table tr {
  display: grid;
  grid-template-columns: 20% 10% 10% 15% 10% 10% 10% 10% 5%;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.hovertext {
  position: relative;
}
p.hovertext:hover {
  cursor: pointer;
}
p.hovertext.countVersion {
  padding: 5px 10px;
  border: 1px solid #666;
  border-radius: 40%;
  margin-right: 2rem;
}
.issue-info {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 1px solid rgb(187, 187, 187);
  transition: 0.3s ease-in-out;
}
.issue-header {
  padding: 20px;
}
.issue-header li {
  width: 50%;
}
.issue-header li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.issue-header .nav-link.active {
  font-weight: bold;
  border: none;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
}
.issue-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.issue-title p {
  font-size: 22px;
  font-weight: bold;
}
.issue-title span:hover {
  cursor: pointer;
}
.issue-info .nav-item a {
  color: rgb(102, 102, 102);
}
.issue-info .nav-link {
  border: none;
  font-size: 16px;
}
.activity-item {
  display: flex;
  font-size: 16px;
  margin: 10px 0 10px 25px;
  color: rgb(102, 102, 102);
}
.activity-item p:nth-child(1) {
  width: 116px;
}
.activity-title {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.activity-title span {
  font-size: 15px;
  margin-right: 10px;
}
.activity-title p {
  font-weight: bold;
  font-size: 20px;
}
.status-open {
  border-left: 3px solid orange;
  font-weight: bold;
  padding-left: 5px;
}
.activity-des {
  padding-left: 25px;
  color: rgb(128, 128, 128);
  font-size: 16px;
}
.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 8px 10px;
}
.details-btn {
  display: flex;
  align-items: center;
}
.details-header button {
  display: flex;
  align-items: center;
  background-color: #fff;
  font-weight: bold;
}
.details-more button {
  padding: 5px;
}
.details-btn button span {
  margin-right: 10px;
}
.details-btn button:nth-child(1) {
  color: rgb(6, 150, 215);
  border-radius: 0.25rem 0 0 0.25rem;
}
.details-btn button:nth-child(2) {
  color: rgb(166, 26, 26);
}
.details-list {
  padding: 10px 0;
  height: calc(100vh - 260px);
  overflow: auto;
}
.details-item {
  margin: 20px 0;
}
.details-item__title {
  color: rgb(102, 102, 102);
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
}
.details-item__des {
  display: flex;
  align-items: center;
  color: rgb(60, 60, 60);
  margin-left: 20px;
}
.details-item__des p {
  font-size: 16px;
}
.details-item__des span {
  font-size: 20px;
}
.details-item__des span {
  margin-left: 10px;
}
.details-item .form-control {
  padding-left: 20px;
}
