.body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  display: block;
  position: relative;
}
label {
  margin-bottom: 0;
}
.icon-close {
  position: absolute;
  right: -40px;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  color: #666;
  border-radius: 5px;
  top: 15px;
}
.icon-close:hover {
  background-color: rgb(246, 246, 246);
}
/* step */
.progressbar {
  counter-reset: step;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.progressbar li {
  list-style: none;
  position: relative;
  text-align: center;
  display: table-cell;
  font-weight: 400;
}
.progressbar li:before {
  background: #fff;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 50%;
  content: "";
  counter-increment: step;
  display: block;
  font-weight: 700;
  height: 20px;
  line-height: 27px;
  margin: 5px auto 10px;
  text-align: center;
  width: 20px;
}
.progressbar li:after {
  background: rgb(220, 220, 220);
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  top: 15px;
  width: 100%;
  z-index: -1;
}

.progressbar li:last-child:after {
  content: none;
}

.progressbar li.complete:after {
  background: rgb(6, 150, 215);
}

.progressbar li.active:before,
.progressbar li.complete:before {
  border-color: rgb(6, 150, 215);
  color: #fff;
}

.progressbar li.active,
.progressbar li.complete {
  color: rgb(6, 150, 215);
  font-weight: 600;
}

/* step */
/* upload */
.fromComputer {
  display: flex;
  align-items: center;
}
.fromComputer label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fromComputer label span {
  margin-right: 10px;
}
.upload-header {
  text-align: center;
  margin: 20px 0;
}
.upload-header__title {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 13px;
}
.upload-header__des {
  line-height: 20px;
  color: grey;
}
.upload-wrapper {
  max-width: 853.33333px;
  padding: 0 24px;
  margin: auto;
  padding-bottom: 70px;
}
.upload-wrapper__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.upload-wrapper__btn {
  display: flex;
  align-items: center;
}
.input-file {
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.btn-upload {
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 2px;
  height: 36px;
  padding: 0px 15px;
  margin-right: 10px;
}
.btn-upload:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.btn-upload:active {
  border-color: rgb(153, 153, 153);
}
.upload-wrapper__content {
  border-radius: 2px;
  border: 1px dashed rgb(187, 187, 187);
  padding: 24px 16px;
  align-items: center;
}
.upload-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 16px 24px;
  background-color: #fff;
  border-top: 1px solid #dcdcdc;
  justify-content: flex-end;
  max-width: 1280px;
  margin: auto;
}
.upload-footer button {
  height: 36px;
  padding: 0px 20px;
  margin-right: 10px;
}
.upload-footer .buttonBack,
.cancelPublish {
  border: 1px solid rgb(187, 187, 187);
}
.upload-footer .buttonBack:hover,
.cancelPublish:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
  background-color: #fff;
}
.upload-footer .buttonNext {
  background-color: rgb(6, 150, 215);
}
.cancelPublish,
.cancelPublish:hover {
  color: #a61a1a;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-dialog {
  max-width: 650px;
}
.modal-body__des {
  margin: 20px 0;
  font-size: 16px;
}
/* upload */
/* versionSet */
.upload-wrapper__container {
  margin-left: 30px;
}
.form-check input {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.form-check-label {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.versionSet-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
.upload-wrapper__new {
  border-right: 1px solid rgb(187, 187, 187);
  padding: 0 40px;
}
.upload-wrapper__exist {
  padding: 0 40px;
}
.label-helper {
  color: rgb(102, 102, 102);
  font-size: 16px;
}
.form-row {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}
.formtitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-text {
  border: 1px solid rgb(187, 187, 187);
  background: rgb(255, 255, 255);
  padding: 0px 12px 1px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.input-text:focus {
  border-color: rgb(6, 150, 215);
}
.input-text:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.form-check__item {
  margin-left: 30px;
  display: flex;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 10px 20px;
}
.form-check-label__item {
  padding-left: 10px;
  font-weight: 400;
}
/* versionSet */
/* sheetNumber */
.sheetNumber-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
}
.sheetNumber-wrapper .table tr {
  display: grid;
  grid-template-columns: 30% 15% 30% 25%;
}
.sheetNumber-wrapper .table tr td {
  display: flex;
  align-items: center;
}
.sheetNumber-wrapper .table img {
  width: 100%;
  border: 1px solid rgb(187, 187, 187);
}
.sheetNumber-wrapper .table .form-row {
  margin-bottom: unset;
}
.sheetNumber-wrapper .table input[type="checkbox"] {
  margin-right: 10px;
}
/* sheetNumber */
/* TitlesAndTags */
.select2 {
  width: 100% !important;
}
.select2-search__field {
  width: 100% !important;
}
.select2-selection {
  min-height: 40px !important;
}
.select2-selection__choice {
  color: rgb(60, 60, 60);
  background-color: rgb(238, 238, 238) !important;
  border-radius: 4px !important;
  border: none !important;
}
/* TitlesAndTags */
