/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  margin: 20px 0;
  color: rgb(60, 60, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title__btn {
  display: flex;
  align-items: center;
}
.onHover {
  border: 1px solid rgb(187, 187, 187);
  color: rgb(60, 60, 60);
  padding: 0px 15px;
  margin-right: 16px;
  background-color: #fff;
  height: 40px;
  font-size: 16px;
}
.onHover:hover {
  cursor: pointer;
  background: #fff;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.dropdown-item {
  white-space: unset;
}
.dropdown-menu.menu-export {
  width: 250px;
  transform: translate(-43%, 38%) !important;
}
.dropdown-menu.menu-export {
  width: 150px;
}
.dropdown-menu.menu-more {
  transform: translate(-65%, 80%) !important;
}
.urlTitle {
  color: #006eaf;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.urlTitle span {
  font-size: 18px;
  color: rgb(153, 153, 153);
  margin-left: 5px;
}
.body-container {
  margin-top: 20px;
}
.bl-submitted {
  border-left: 3px solid rgb(135, 179, 64);
  font-size: 16px;
  height: 100%;
}
.card-item {
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: rgb(12 44 84 / 12%) 0px 1px 6px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  margin: 10px;
  font-size: 16px;
}
.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
}
.card-title span {
  margin-right: 10px;
}
.card-body {
  padding: 0;
}
.card-text {
  margin: 30px 0;
}
.card-text__des,
.card-text__title {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.card-text__des span {
  font-size: 20px;
  padding: 5px;
  background: rgb(238, 238, 238);
  border-radius: 50%;
  margin-right: 10px;
}
.card-text__title p {
  color: rgb(102, 102, 102);
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
}
.card-text__des p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3c3c3c;
}
.card-content {
  border-right: 1px solid rgb(220, 220, 220);
  padding: 0 20px;
}
.card-content:first-child {
  padding-left: 0;
}
.card-content:last-child {
  border: unset;
}
.list-card {
  margin: -10px 0;
}
.card-footer {
  padding: 10px;
  margin-top: 10px;
}
.layout {
  display: flex;
}
.layout-left {
  width: 350px;
  min-width: 350px;
  height: calc(100vh - 233px);
  overflow: auto;
}
.layout-right {
  width: 100%;
  height: calc(100vh - 233px);
  overflow: auto;
}
.table tr {
  display: grid;
  grid-template-columns: 35% 15% 15% 35%;
}
.table-workLog tbody tr:last-child {
  background-color: rgba(0, 0, 0, 0.05);
}
.c-red500 {
  color: red;
}
@media only screen and (max-width: 1199px) {
  .body-header__title {
    display: block;
  }
  .header-title__text {
    margin-bottom: 10px;
  }
}
