a {
  font-weight: bold;
  color: #0696d7;
}
.landing {
  background-color: #fff;
  margin-top: 215.283px;
  max-width: 356px;
  text-align: center;
  padding: 0;
}
.landing-header {
  margin-bottom: 32px;
}
.landing-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
}
.landing-logo img {
  width: 30px;
  margin-right: 10px;
}
.landing-des {
  font-size: 16px;
  margin-top: 7px;
  color: #000;
  font-family: "ARTIFAKT ELEMENT LIGHT", opensans-light, "Helvetica Neue Thin",
    "Helvetica Light", Arial, sans-serif;
}
.landing-btn {
  display: flex;
  width: 100%;
}
.landing-btn button {
  width: 50%;
  padding: 8px;
  font-weight: 500;
}
.landing-btn button:nth-child(1) {
  border: 2px solid #0696d7;
  margin-right: 10px;
}
.landing-btn button:nth-child(2) {
  background-color: #0696d7;
  border-color: #0696d7;
  margin-left: 10px;
}
.landing-footer {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
}
