a {
  font-weight: 500;
  color: #0696d7;
}
.landing {
  background-color: #fff;
  max-width: 356px;
  text-align: center;
  padding: 10vh 0 0 0;
}
.register-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-title p {
  margin: 0;
  font-size: 22px;
}
.register-logo img {
  width: 40px;
}
.register-form {
  margin-top: 30px;
  min-height: 500px;
  height: 75vh;
}
.input-name {
  display: flex;
}
.input-name div:nth-child(1) {
  margin-right: 3px;
}
.input-name div:nth-child(2) {
  margin-left: 3px;
}
.form-row {
  width: 100%;
  margin: 0;
}
.input-text {
  background-color: white;
  margin-bottom: 30px;
  padding: 0 10px;
  position: relative;
  width: 100%;
  z-index: 3;
  height: 40px;
}
.input-text:focus {
  background-color: #fafafa;
  box-shadow: inset 0 0 0 rgb(0 0 0 / 8%), 0 0 0 rgb(102 175 233 / 60%);
  color: #333;
  border-width: 2px;
}
.input-text:focus::placeholder {
  opacity: 0;
}
.label-helper {
  position: absolute;
  opacity: 0;
  transition: 0.4s bottom, 0.4s opacity;
  z-index: 1;
  font-family: arial;
  font-size: 14px;
  line-height: 1;
  padding: 4px;
}
.input-text:focus + .label-helper {
  opacity: 1;
  transform: translate(0, -100%);
}
.input-check label {
  display: flex;
  cursor: pointer;
}
.input-check input {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 10px;
}
.input-check span {
  font-size: 15px;
  text-align: left;
}
.form-submit button {
  width: 100%;
  font-weight: 500;
  margin-top: 30px;
  background-color: #0696d7;
  border-color: #0696d7;
  padding: 8px;
}
.form-footer {
  margin-top: 30px;
}
