/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  margin: 20px 0;
  color: rgb(60, 60, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-header__items {
  display: flex;
  justify-content: end;
}
.body-header__item {
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.body-header__item a,
.body-header__item span {
  color: rgb(0, 110, 175);
}
.dropdown {
  cursor: pointer;
}
.dropdown-attach {
  color: rgb(0, 110, 175);
}
.dropdown-menu.menu-settings {
  width: 250px;
  transform: translate(-50%, 25%) !important;
}
.body-container {
  margin-top: 20px;
}
.urlTitle {
  color: #006eaf;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.urlTitle span {
  font-size: 18px;
  color: rgb(153, 153, 153);
  margin-left: 5px;
}
.item-options {
  display: flex;
  align-items: center;
}
.item-options .dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.item-options .dropdown-toggle a {
  color: rgb(102, 102, 102);
  /* font-weight: bold; */
  font-size: 16px;
  margin: 0 10px;
}
.header-title__text {
  display: flex;
}
.header-title__btn {
  display: flex;
}
.RFIs-status {
  border-radius: 100px;
  color: white;
  background-color: rgb(167, 110, 245);
  font-weight: 600;
  font-size: 14px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.required {
  background-color: rgb(6, 150, 215);
}
.status-des {
  font-size: 14px;
  color: #666;
}
.onHover {
  border: 1px solid rgb(187, 187, 187);
  color: rgb(60, 60, 60);
  padding: 0px 15px;
  margin-right: 16px;
  background-color: #fff;
  height: 40px;
  font-size: 16px;
}
.onHover span {
  margin-right: 10px;
}
.onHover:hover {
  cursor: pointer;
  background: #fff;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.dropdown-item {
  white-space: unset;
}
.dropdown-menu.menu-export {
  width: 250px;
  transform: translate(-43%, 38%) !important;
}
.body-top {
  border-radius: 4px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 40% 60%;
}
.body-top-submit {
  height: auto;
  min-height: 130px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(6 150 215 / 25%) 0px 1px 6px;
  border-radius: 5px;
  border: 2px solid rgb(6, 150, 215);
  padding: 16px;
}
.submit-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.submit-title p:nth-child(1) {
  font-size: 16px;
  line-height: 22px;
  color: rgb(60, 60, 60);
  font-weight: 600;
}
.submit-btn {
  display: flex;
  justify-content: end;
}
.submit-btn button {
  background-color: rgb(6, 150, 215);
}
.submit-des {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.submit-des p:nth-child(1) {
  color: rgb(102, 102, 102);
  margin-right: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.submit-des p:nth-child(2) {
  color: rgb(102, 102, 102);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.body-top-items {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  align-items: center;
}
.body-top-item {
  display: flex;
  padding: 15px;
  border: 1px solid rgb(187, 187, 187);
  height: 90px;
  background: rgb(246, 246, 246);
}
.item-title p:nth-child(1) {
  color: rgb(153, 153, 153);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}
.item-title p:nth-child(2) {
  color: rgb(153, 153, 153);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.title-status {
  font-size: 20px;
  font-weight: bold;
  color: rgb(60, 60, 60);
}

.layout {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 -10px;
}
.card-item {
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: rgb(12 44 84 / 12%) 0px 1px 6px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  margin: 10px;
  font-size: 16px;
}
.card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
}
.card-title span {
  margin-right: 10px;
}
.card-body {
  padding: 0;
}
.list-cards {
  display: grid;
  grid-template-columns: 60% 40%;
}
.d-g3 {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}
.d-g2 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.b-l {
  border-left: 3px solid rgb(167, 110, 245);
  padding-left: 5px;
  height: 100%;
}
.b-l-required {
  border-left: 3px solid rgb(6, 150, 215);
  padding-left: 5px;
  height: 100%;
}
.card-text {
  margin: 25px 0;
}
.card-content__title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.card-text__des,
.card-text__title {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.card-title__text {
  display: flex;
  align-items: center;
}
.card-text__des span {
  font-size: 20px;
  padding: 5px;
  background: rgb(238, 238, 238);
  border-radius: 50%;
  margin-right: 10px;
}
.card-text__title p {
  color: rgb(102, 102, 102);
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
}
.card-text__des p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3c3c3c;
}
.firstCharName {
  padding: 5px;
  background: rgb(255, 179, 166);
  font-size: 16px;
  border-radius: 50%;
  margin-right: 10px;
}
.card-content {
  border-right: 1px solid rgb(220, 220, 220);
  padding: 0 20px;
}
.card-content:first-child {
  padding-left: 0;
}
.card-content:last-child {
  border: unset;
}
.card-footer {
  margin-top: 10px;
  background-color: #fff;
}
.card-body-attach {
  text-align: center;
  padding: 20px;
  border: 1px dashed #dcdcdc;
}
.dropdown-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 1.5rem;
}
.dropdown-item span {
  margin-right: 10px;
  color: rgb(60, 60, 60);
}
.card-comment {
  display: flex;
}
.card-comment__box {
  width: 100%;
}
.card-comment__box textarea {
  resize: none;
}
.card-comment__btn {
  float: right;
  display: none;
}
.activity-item {
  display: flex;
  font-size: 16px;
  margin: 10px 0 10px 25px;
  color: rgb(102, 102, 102);
}
.activity-item > p:nth-child(1) {
  width: 116px;
}
.activity-title {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.activity-title span {
  font-size: 15px;
  margin-right: 10px;
}
.activity-title p {
  font-weight: bold;
  font-size: 20px;
}
.activity-des {
  padding-left: 25px;
  color: rgb(128, 128, 128);
  font-size: 16px;
}
.card-footer .activity-item {
  margin: 5px 0;
}
.card-footer .card-text__des {
  margin: 0;
}
.card-footer .card-text__des p {
  font-size: 14px;
}
@media only screen and (max-width: 1399px) {
  .body-top {
    display: block;
  }
  .body-top-submit {
    margin-bottom: 30px;
  }
  .layout {
    display: block;
  }
}
@media only screen and (max-width: 1199px) {
  .body-header__title {
    display: block;
  }
  .header-title__text {
    margin-bottom: 10px;
  }
}
