/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__items {
  display: flex;
  justify-content: end;
}
.body-header__item {
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.body-header__item a,
.body-header__item span {
  color: rgb(0, 110, 175);
}
.dropdown {
  cursor: pointer;
}
.dropdown-menu.menu-settings {
  width: 200px;
  transform: translate(-100%, -50%);
}
.dropdown-menu.menu-export {
  width: 150px;
}

.body-container {
  margin-top: 20px;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-helper span {
  margin-left: 5px;
  font-size: 20px;
}
.form-row textarea {
  resize: none;
  height: 100px;
  padding: 8px 12px;
  line-height: 20px;
}
.item-btn > button {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
}
.item-btn > button:focus {
  box-shadow: none;
}
.modal-dialog {
  max-width: 650px;
}
.label-helper {
  color: rgb(102, 102, 102);
  font-size: 16px;
  display: flex;
  align-items: center;
}
.form-row {
  width: 100%;
  margin: 0;
}
.input-text {
  border: 1px solid rgb(187, 187, 187);
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding: 0px 12px 1px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.input-text:focus {
  border-color: rgb(6, 150, 215);
}
.input-text:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.form-control option.optionHidden {
  display: none;
}
.card-item {
  padding: 20px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  font-size: 16px;
  margin-bottom: 30px;
}
.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title span {
  margin-right: 10px;
}
.card-body {
  padding: 10px;
  text-align: center;
}
.dropdown-item {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.dropdown-item span {
  margin-right: 10px;
  color: rgb(60, 60, 60);
}
.item-options {
  display: flex;
  align-items: center;
}
.item-options .dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.item-options .dropdown-toggle a {
  color: rgb(102, 102, 102);
  /* font-weight: bold; */
  font-size: 16px;
  margin: 0 10px;
}
.item-option {
  display: flex;
  align-items: center;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  cursor: pointer;
}
.onHover {
  border: 1px solid rgb(187, 187, 187);
  color: rgb(60, 60, 60);
  padding: 0px 15px;
  margin-right: 16px;
  background-color: #fff;
  height: 40px;
  font-size: 16px;
}
.onHover span {
  margin-right: 10px;
}
.onHover:hover {
  cursor: pointer;
  background: #fff;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.body-list-sheets {
  height: calc(100vh - 370px);
  overflow: auto;
  color: rgb(60, 60, 60);
  margin-top: 40px;
}
.sheet-item {
  font-size: 16px;
  line-height: 25px;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table tr {
  display: grid;
  grid-template-columns: 5% 5% 15% 10% 10% 15% 7.5% 7.5% 7.5% 7.5% 7.5% 10% 10% 10% 10% 7.5% 5%;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.table tr td {
  display: flex;
  align-items: center;
  position: relative;
}
.table tr th {
  position: relative;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.b-l {
  border-left: 3px solid rgb(167, 110, 245);
  padding-left: 5px;
}
.bg-name {
  background: #daf0f9;
}
