/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__tabs {
  position: relative;
}
.body-header__items {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 0;
  right: 0;
}
.body-header__item {
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.body-header__item a,
.body-header__item span {
  color: rgb(0, 110, 175);
}
.dropdown-menu.menu-settings {
  width: 200px;
  transform: translate(-100%, -50%);
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
  border-color: rgb(6, 150, 215) !important;
}
.form-body {
  display: flex;
}
.body-sidebar {
  padding: 20px 0;
  min-width: 250px;
  max-width: 250px;
  border-right: 1px solid #dee2e6;
  height: calc(100vh - 233px);
  overflow: auto;
}
.body-container {
  padding: 20px;
  width: 100%;
}
.body-sidebar .nav-link {
  display: flex;
  color: rgb(102, 102, 102);
  border-radius: 0 4px 4px 0;
  padding: 0.75rem 1rem;
}
.body-sidebar .nav-link.active {
  color: rgb(6, 150, 215);
  background: rgb(255, 255, 255);
  border-left: 2px solid rgb(6, 150, 215);
  border-bottom: unset;
}
.body-sidebar .nav-link span {
  margin-right: 10px;
}
.body-sidebar .nav-link:hover {
  background-color: #f6f6f6;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-options {
  display: flex;
  align-items: center;
}
.dropdown-btn .dropdown-toggle::after {
  content: none;
}
.dropdown-btn .dropdown-toggle {
  border: transparent;
  cursor: pointer;
  padding: 7px 10px;
}
.dropdown-btn .dropdown-toggle:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  font-size: 16px;
  color: rgb(102, 102, 102);
}
.item-option {
  display: flex;
  align-items: center;
}
.item-options button:hover {
  background-color: #fff;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-options button {
  display: flex;
  align-items: center;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  color: rgb(102, 102, 102);
  width: 100%;
}
.item-options button span {
  margin-right: 10px;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.onHover:hover {
  cursor: pointer;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-btn button:focus {
  box-shadow: none;
}
.item-btn button {
  margin: 0 5px;
}
.item-btn button:nth-child(1) {
  margin-right: 3px;
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
}
.item-btn button:nth-child(1):hover {
  background-color: #007bff;
  border-color: #007bff;
}
.item-btn {
  display: flex;
  align-items: center;
}
.nav-link {
  color: rgb(102, 102, 102);
}
.body-list-sheets {
  height: calc(100vh - 403px);
  overflow: auto;
  color: rgb(60, 60, 60);
  margin-top: 40px;
}
.table {
  margin-bottom: 0;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.table tr {
  display: grid;
  grid-template-columns: 20% 10% 10% 15% 15% 15% 15% 15% 5%;
}
.table tr td {
  display: flex;
  align-items: center;
  position: relative;
}
.table tr th {
  position: relative;
}
.table-templates tr {
  display: grid;
  grid-template-columns: 20% 20% 15% 12.5% 12.5% 15% 5%;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.b-l-submitted {
  border-left: 3px solid rgb(135, 179, 64);
  padding-left: 5px;
}
