/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__tabs {
  position: relative;
}
.body-header__items {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 0;
  right: 0;
}
.body-header__item {
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.body-header__item a,
.body-header__item span {
  color: rgb(0, 110, 175);
}
.dropdown-menu.menu-settings {
  width: 200px;
  transform: translate(-100%, -50%);
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
  border-color: rgb(6, 150, 215) !important;
}
.form-body {
  display: flex;
  overflow: auto;
}
.body-sidebar {
  padding: 20px 0;
  min-width: 250px;
  max-width: 250px;
  border-right: 1px solid #dee2e6;
  height: calc(100vh - 253px);
  overflow: auto;
}
.body-container {
  padding: 20px;
  width: 100%;
}
.body-sidebar .nav-link {
  display: flex;
  color: rgb(102, 102, 102);
  border-radius: 0 4px 4px 0;
  padding: 0.75rem 1rem;
}
.body-sidebar .nav-link.active {
  color: rgb(6, 150, 215);
  background: rgb(255, 255, 255);
  border-left: 2px solid rgb(6, 150, 215);
  border-bottom: unset;
}
.body-sidebar .nav-link span {
  margin-right: 10px;
}
.body-sidebar .nav-link:hover {
  background-color: #f6f6f6;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-options {
  display: flex;
  align-items: center;
}
.dropdown-btn .dropdown-toggle::after {
  content: none;
}
.dropdown-btn .dropdown-toggle {
  border: transparent;
  cursor: pointer;
  padding: 7px 10px;
}
.dropdown-btn .dropdown-toggle:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  font-size: 16px;
  color: rgb(102, 102, 102);
}
.item-option {
  display: flex;
  align-items: center;
}
.item-options button:hover {
  background-color: #fff;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-options button {
  display: flex;
  align-items: center;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  color: rgb(102, 102, 102);
  width: 100%;
}
.item-options button span {
  margin-right: 10px;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.onHover:hover {
  cursor: pointer;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-btn > button:focus {
  box-shadow: none;
}
.item-btn > button {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.item-btn > button span {
  margin-right: 10px;
}
.item-btn > button:hover {
  background-color: #007bff;
  border-color: #007bff;
}
.modal-dialog {
  max-width: 650px;
}
.input-text {
  border: 1px solid rgb(187, 187, 187);
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding: 0px 12px 1px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.input-text:focus {
  border-color: rgb(6, 150, 215);
}
.input-text:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.fromComputer label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fromComputer label span {
  margin-right: 10px;
}
.dragFile {
  border: 1px dashed rgb(153, 153, 153);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(153, 153, 153);
  padding: 40px 0 80px 0;
}
.dragFile img {
  padding: 20px 40px;
}
.nav-link {
  color: rgb(102, 102, 102);
}
.body-list-sheets {
  height: calc(100vh - 425px);
  overflow: auto;
  color: rgb(60, 60, 60);
  margin-top: 40px;
}
.table {
  margin-bottom: 0;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.table tr {
  display: grid;
  grid-template-columns: 15% 10% 10% 10% 10% 15% 15% 10% 5%;
}
.table tr td {
  display: flex;
  position: relative;
  align-items: center;
}
.table tr th {
  position: relative;
}
.holding-table tr {
  display: grid;
  grid-template-columns: 25% 10% 25% 20% 20%;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.b-l-submitted {
  border-left: 3px solid rgb(135, 179, 64);
  padding-left: 5px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  margin: 15px 0;
}
.holding-container {
  margin-top: 10px;
  padding: 10px;
}
.holding-title {
  font-size: 16px;
  margin: 20px 0;
}
