/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header-option {
  display: flex;
  justify-content: end;
  cursor: pointer;
  color: rgb(0, 110, 175);
}
.body-header-option .dropdown {
  padding: 3px 7px;
}
.body-header-option .dropdown:hover {
  background: rgb(246, 246, 246);
  border-radius: 5px;
}
.body-header-option .menu-settings {
  transform: translate(-95px, 30px) !important;
  width: 200px;
}
.form-body {
  display: flex;
}
.body-sidebar {
  min-width: 250px;
  max-width: 250px;
  border-right: 1px solid #dee2e6;
  height: calc(100vh - 220px);
  overflow: auto;
}
.body-container {
  padding: 20px 0 0 20px;
  width: 100%;
}
.body-sidebar .nav-link {
  display: flex;
  color: rgb(102, 102, 102);
  border-radius: 0 4px 4px 0;
  padding: 0.75rem 1rem 0.75rem 2rem;
}
.body-sidebar .nav-link:nth-child(1) {
  padding: 0.75rem 1rem;
}
.body-sidebar .nav-link.active {
  color: rgb(6, 150, 215);
  background: rgb(255, 255, 255);
  border-left: 2px solid rgb(6, 150, 215);
  border-bottom: unset;
}
.body-sidebar .nav-link span {
  margin-right: 10px;
}
.body-sidebar .nav-link:hover {
  background-color: #f6f6f6;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-options {
  display: flex;
  align-items: center;
}
.item-option {
  display: flex;
  align-items: center;
}
.item-options button:hover {
  background-color: #fff;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-options button {
  display: flex;
  align-items: center;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  color: rgb(102, 102, 102);
  width: 100%;
}
.item-options button span {
  margin-right: 10px;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.onHover:hover {
  cursor: pointer;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-btn button:nth-child(1) {
  margin-right: 3px;
}
.item-btn .btn-group {
  background: #fff;
}
.btn-custom {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
}
.btn-custom:focus {
  box-shadow: none;
}
.item-btn .dropdown-toggle-split {
  border-radius: 0 3px 3px 0;
  color: #fff;
}
.form-row textarea {
  resize: none;
  height: 100px;
  padding: 8px 12px;
  line-height: 20px;
}
.modal-dialog {
  max-width: 650px;
}
.label-helper {
  color: rgb(102, 102, 102);
  font-size: 16px;
}
.form-row {
  width: 100%;
  margin: 0;
}
.formtitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-text {
  border: 1px solid rgb(187, 187, 187);
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding: 0px 12px 1px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.input-text:focus {
  border-color: rgb(6, 150, 215);
}
.input-text:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.input-row {
  display: flex;
}
.form-control option.optionHidden {
  display: none;
}
.inputCol1 {
  margin-right: 10px;
}
.inputCol2 {
  margin-left: 10px;
}
.body-list-sheets {
  height: calc(100vh - 380px);
  overflow: auto;
  color: rgb(60, 60, 60);
  margin-top: 40px;
}
.table {
  margin-bottom: 0;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.table tr {
  display: grid;
  grid-template-columns: 20% 10% 10% 15% 10% 10% 10% 10% 5%;
}
.table tr td {
  display: flex;
  align-items: center;
  position: relative;
}
.table tr th {
  position: relative;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
