/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__tabs {
  position: relative;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
  border-color: rgb(6, 150, 215) !important;
}
.form-body {
  display: flex;
  overflow: auto;
}
.body-container {
  width: 100%;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-upload {
  width: 350px;
}
.dropdown-upload .dropdown-item {
  padding: 0.5rem 1.5rem 0.5rem 4rem;
  color: rgb(60, 60, 60);
}
.dropdown-upload .dropdown-itemdetail {
  padding: 0.5rem 1.5rem;
}
.item-btn {
  margin: 20px 0;
}
.item-btn button:focus {
  box-shadow: none;
}
.item-btn button {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.item-btn button span {
  margin-right: 10px;
}
.item-btn button:hover {
  background-color: #007bff;
  border-color: #007bff;
}
.nav-link {
  color: rgb(102, 102, 102);
}
.body-list-sheets {
  height: calc(100vh - 375px);
  overflow: auto;
  color: rgb(60, 60, 60);
}
.table {
  margin-bottom: 0;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.table tr {
  display: grid;
  grid-template-columns: 20% 10% 15% 15% 15% 10% 10% 5%;
}
.table tr th span {
  font-size: 20px;
  margin-left: 5px;
}
.table tr td {
  display: flex;
  position: relative;
  align-items: center;
}
.table tr td span {
  margin-right: 10px;
}
.table tr th {
  position: relative;
}
.table-template tr {
  display: grid;
  grid-template-columns: 30% 20% 15% 15% 15% 5%;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
