/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__items {
  display: flex;
  justify-content: end;
}
.body-header__item {
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.body-header__item a,
.body-header__item span {
  color: rgb(0, 110, 175);
}
.dropdown-menu.menu-settings {
  width: 200px;
  transform: translate(-100%, -50%);
}
.dropdown-menu.menu-export {
  width: 150px;
}

.body-container {
  margin-top: 20px;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-btn button {
  width: 160px;
  background-color: rgb(6, 150, 215);
  font-weight: bold;
}
.item-options {
  display: flex;
  align-items: center;
}
.item-options .dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.item-options .dropdown-toggle a {
  color: rgb(102, 102, 102);
  /* font-weight: bold; */
  font-size: 16px;
  margin: 0 10px;
}
.item-option {
  display: flex;
  align-items: center;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.onHover:hover {
  cursor: pointer;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.body-list-sheets {
  height: calc(100vh - 370px);
  overflow: auto;
  color: rgb(60, 60, 60);
  margin-top: 40px;
}
.sheet-item {
  font-size: 16px;
  line-height: 25px;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table tr td {
  display: flex;
  align-items: center;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.table tr {
  display: grid;
  grid-template-columns: 35% 15% 15% 15% 15% 5%;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.hovertext {
  position: relative;
}
p.hovertext:hover {
  cursor: pointer;
}
p.hovertext.countVersion {
  padding: 5px 10px;
  border: 1px solid #666;
  border-radius: 40%;
  margin-right: 2rem;
}
