/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__tabs {
  position: relative;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
  border-color: rgb(6, 150, 215) !important;
}
.form-body {
  display: flex;
  overflow: auto;
}
.body-container {
  width: 100%;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-btn {
  margin: 20px 0;
}
.item-btn > button:focus {
  box-shadow: none;
}
.item-btn > button {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.item-btn > button span {
  margin-right: 10px;
}
.item-btn > button:hover {
  background-color: #007bff;
  border-color: #007bff;
}
.modal-dialog {
  max-width: 650px;
}
.form-check {
  margin-top: 30px;
  color: rgb(60, 60, 60);
}
.form-check input {
  width: 16px;
  height: 16px;
}
.form-check-label {
  padding-left: 5px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
}
.form-check ul {
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.form-check ul li {
  color: #666;
}
.nav-link {
  color: rgb(102, 102, 102);
}
.body-list-sheets {
  height: calc(100vh - 375px);
  overflow: auto;
  color: rgb(60, 60, 60);
}
.settingProject {
  height: auto;
}
.table {
  margin-bottom: 0;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.table tr {
  display: grid;
  grid-template-columns: 20% 10% 15% 15% 15% 10% 10% 5%;
}
.table tr th span {
  font-size: 20px;
  margin-left: 5px;
}
.table tr td {
  display: flex;
  position: relative;
  align-items: center;
}
.table tr td a {
  display: flex;
  align-items: center;
}
.table tr td span {
  margin-right: 10px;
}
.table tr th {
  position: relative;
}
.table-asBuilt tr {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.table-template tr {
  display: grid;
  grid-template-columns: 30% 20% 15% 15% 15% 5%;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.project-card {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 20px 0;
  border-top: 1px solid rgb(220, 220, 220);
}
.item-info {
  margin-bottom: 25px;
}
.item-info__title {
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.item-info__title span {
  font-size: 24px;
  margin-left: 5px;
  color: rgb(187, 187, 187);
  cursor: pointer;
}
.item-info__des {
  line-height: 20px;
}
.left-items .item-info__title {
  font-size: 20px;
  font-weight: 400;
}
.left-items .item-info__des {
  color: rgb(128, 128, 128);
  font-size: 16px;
}
