/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__items {
  display: flex;
  justify-content: end;
}
.body-header__item {
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 18px;
  padding: 3px 5px;
  border-radius: 5px;
}
.body-header__item:hover {
  background: rgb(246, 246, 246);
  cursor: pointer;
}
.body-header__item a,
.body-header__item span {
  color: rgb(0, 110, 175);
  font-size: 22px;
  margin-right: 10px;
}

.body-container {
  margin-top: 20px;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-btn {
  display: flex;
  align-items: center;
}
.item-btn > span {
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
}
.item-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  background-color: rgb(6, 150, 215);
  font-weight: bold;
}
.item-btn button span {
  margin-right: 10px;
}
.item-options {
  display: flex;
  align-items: center;
}
.item-options .dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.item-options .dropdown-toggle a {
  color: rgb(102, 102, 102);
  /* font-weight: bold; */
  font-size: 16px;
  margin: 0 10px;
}
.item-option {
  display: flex;
  align-items: center;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.onHover:hover {
  cursor: pointer;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.body-list-schedule {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin: 25px -10px;
}
.schedule-item {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgb(12 44 84 / 12%);
  background: #fff;
  cursor: pointer;
  margin: 10px;
}
.schedule-item__thumb {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 140px;
  justify-content: center;
}
.schedule-item__content {
  border-top: 1px solid #dcdcdc;
  padding: 8px 8px 3px;
  position: relative;
}
.schedule-item__title {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.schedule-item__title p {
  font-weight: 500;
  color: rgb(60, 60, 60);
  font-size: 18px;
}
.schedule-item__createBy {
  color: #666;
  font-size: 16px;
}
.schedule-item__footer {
  float: right;
  display: flex;
}
@media only screen and (max-width: 1660px) {
  .body-list-schedule {
    grid-template-columns: repeat(4, 25%);
  }
}
@media only screen and (max-width: 1199px) {
  .body-list-schedule {
    grid-template-columns: repeat(3, 33.33%);
  }
}
