/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__tabs {
  position: relative;
}
.body-header__items {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 0;
  right: 0;
}
.body-header__item {
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.body-header__item a,
.body-header__item span {
  color: rgb(0, 110, 175);
}
.dropdown-menu.menu-settings {
  width: 200px;
  transform: translate(-100%, -50%);
}
.dropdown-menu.menu-export {
  width: 150px;
}
.nav-item a {
  color: rgb(102, 102, 102);
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
  border-color: rgb(6, 150, 215) !important;
}
.body-container {
  margin-top: 20px;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-btn {
  display: flex;
  align-items: center;
}
.item-btn button {
  background-color: rgb(6, 150, 215);
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.item-btn button span {
  margin-right: 10px;
}
.item-btn .dropdown-item {
  white-space: unset;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
}
.isChoose span {
  color: rgb(0, 110, 175);
}
.dropdown-view {
  width: 300px;
}
.dropdown-view span {
  margin-right: 10px;
}
.item-options {
  display: flex;
  align-items: center;
}
.dropdown-item p {
  color: #666;
}
.dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.dropdown-toggle {
  color: rgb(102, 102, 102);
  /* font-weight: bold; */
  font-size: 16px;
}
.dropdown-toggle span {
  margin: 0 10px;
}
.item-option {
  display: flex;
  align-items: center;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.onHover:hover {
  cursor: pointer;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.urlTitle {
  color: #006eaf;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.urlTitle span {
  font-size: 18px;
  color: rgb(153, 153, 153);
  margin-left: 5px;
}
.desTitle {
  display: flex;
  align-items: center;
}
.desTitle span {
  margin: 0 10px;
  font-size: 18px;
}
.body-gantt {
  margin-top: 20px;
}
canvas:focus-visible {
  outline: none;
}
