/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__tabs {
  position: relative;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
  border-color: rgb(6, 150, 215) !important;
}
.body-container {
  width: 100%;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-dialog {
  max-width: 600px;
}
.modal-body {
  border: 1px dashed rgb(187, 187, 187);
  margin: 10px 20px;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  height: 300px;
}
.modal-body p {
  font-weight: 600;
}
.modal-body label {
  color: rgb(0, 110, 175);
  cursor: pointer;
}
.body-header__btn {
  position: absolute;
  right: 0;
  top: 3px;
  display: flex;
  align-items: center;
}
.body-header__btn button,
.item-btn__option button {
  padding: 0px 12px;
  border: 1px solid rgb(187, 187, 187);
  display: flex;
  align-items: center;
  line-height: 20px;
  height: 36px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.body-header__btn button:hover,
.item-btn__option button:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.body-header__btn button span,
.item-btn__option button span {
  margin-right: 10px;
}
.body-header__btn .dropdown-menu {
  transform: translate(-77%, 40px) !important;
}
.item-btn__option {
  display: flex;
  align-items: center;
}
.item-btn {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-btn > button:focus {
  box-shadow: none;
}
.item-btn > button {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.item-btn > button span {
  margin-right: 10px;
}
.item-btn > button:hover {
  background-color: #007bff;
  border-color: #007bff;
}
.nav-link {
  color: rgb(102, 102, 102);
}
.Gallery-content {
  margin-top: 10px;
  border: 1px solid #cdd9e2;
  border-radius: 4px;
  height: calc(100vh - 280px);
  overflow: auto;
}
.Gallery-content__list {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  padding: 10px;
}
.Gallery-content__list img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item-title {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
.Gallery-content__item:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.Gallery-content__item:hover .item-title {
  display: block;
}
.Gallery-content__item {
  position: relative;
  margin: 10px;
}
.item-img {
  height: 130px;
  background: center center / cover no-repeat rgb(246, 246, 246);
  border: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
}
.item-footer {
  font-weight: 600;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 63px;
  border-radius: 0px 0px 3px 3px;
  border-left: 1px solid rgb(220, 220, 220);
  border-right: 1px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
}
.map {
  width: 100%;
  height: 700px;
}
@media only screen and (max-width: 1199px) {
  .Gallery-content__list {
    grid-template-columns: repeat(3, 33.33%);
  }
}
