/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__tabs {
  position: relative;
}
.body-header__items {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 0;
  right: 0;
}
.body-header__item {
  color: rgb(0, 110, 175);
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.body-header__item a,
.body-header__item span {
  color: rgb(0, 110, 175);
}
.dropdown-menu.menu-settings {
  width: 200px;
  transform: translate(-100%, -50%);
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
  border-color: rgb(6, 150, 215) !important;
}
.body-container {
  margin-top: 20px;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-options {
  display: flex;
  align-items: center;
}
.dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  font-size: 16px;
  color: rgb(102, 102, 102);
}
.dropdown-toggle span {
  margin: 0 10px;
}
.item-option {
  display: flex;
  align-items: center;
}
.item-options button:hover {
  background-color: #fff;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-options button {
  display: flex;
  align-items: center;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  color: rgb(102, 102, 102);
  width: 100%;
}
.item-options input {
  width: auto;
}
.item-options button span {
  margin-right: 10px;
}
.item-option span {
  padding: 6px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}
.onHover:hover {
  cursor: pointer;
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.item-btn button:nth-child(1) {
  margin-right: 3px;
}
.item-btn .btn-group {
  background: #fff;
}
.btn-custom {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
}
.btn-custom:focus {
  box-shadow: none;
}
.item-btn .dropdown-toggle-split {
  border-radius: 0 3px 3px 0;
  color: #fff;
}
.form-row textarea {
  resize: none;
  height: 100px;
  padding: 8px 12px;
  line-height: 20px;
}
.modal-box {
  border-top: 1px solid #dae1e6;
}
.modal-box:nth-child(1) {
  border: unset;
}
.modal-box__title {
  font-size: 16px;
  margin: 10px 0;
}
.modal-dialog {
  max-width: 650px;
}
.label-helper {
  color: rgb(102, 102, 102);
  font-size: 16px;
}
.form-row {
  width: 100%;
  margin: 0;
}
.formtitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-text {
  border: 1px solid rgb(187, 187, 187);
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding: 0px 12px 1px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.input-text:focus {
  border-color: rgb(6, 150, 215);
}
.input-text:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.input-row {
  display: flex;
}
.form-control option.optionHidden {
  display: none;
}
.inputCol1 {
  margin-right: 10px;
}
.inputCol2 {
  margin-left: 10px;
}
.card-item {
  padding: 20px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  font-size: 16px;
  margin-bottom: 30px;
}
.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title span {
  margin-right: 10px;
}
.card-body {
  padding: 10px;
  text-align: center;
}
.dropdown-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 1.5rem;
}
.dropdown-item span {
  margin-right: 10px;
  color: rgb(60, 60, 60);
}
.nav-link {
  color: rgb(102, 102, 102);
}
.body-list-sheets {
  height: calc(100vh - 373px);
  overflow: auto;
  color: rgb(60, 60, 60);
  margin-top: 40px;
}
.sheet-item {
  font-size: 16px;
  line-height: 25px;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.table input {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.table th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.table tr {
  display: grid;
  grid-template-columns: 20% 5% 20% 5% 10% 10% 7.5% 10% 10% 10% 7.5% 7.5% 5%;
}
.table tr td {
  display: flex;
  align-items: center;
  position: relative;
}
.table tr th {
  position: relative;
}
.table-package tr {
  display: grid;
  grid-template-columns: 20% 20% 55% 5%;
}
.table-section tr {
  display: grid;
  grid-template-columns: 20% 75% 5%;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.b-l {
  border-left: 3px solid rgb(167, 110, 245);
  padding-left: 5px;
}
.bg-name {
  background: #daf0f9;
}
.submittals-package {
  color: rgb(0, 110, 175);
}
