/* body */
.body-content {
  width: 100%;
  padding: 0 20px 0 260px;
}
.body-header {
  padding: 10px 0;
}
.body-header__title {
  font-size: 30px;
  line-height: 90px;
  color: rgb(60, 60, 60);
}
.body-header__tabs {
  position: relative;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(6, 150, 215);
  transition: 0.2s ease-in-out;
  border-color: rgb(6, 150, 215) !important;
}
.form-body {
  display: flex;
  overflow: auto;
}
.body-container {
  width: 100%;
}
.body-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-upload {
  width: 350px;
}
.dropdown-upload .dropdown-item {
  padding: 0.5rem 1.5rem 0.5rem 4rem;
  color: rgb(60, 60, 60);
}
.dropdown-upload .dropdown-itemdetail {
  padding: 0.5rem 1.5rem;
}
.item-btn {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-btn > button:focus {
  box-shadow: none;
}
.item-btn > button {
  background-color: rgb(6, 150, 215);
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.item-btn > button span {
  margin-right: 10px;
}
.item-btn > button:hover {
  background-color: #007bff;
  border-color: #007bff;
}
.item-btn__option button {
  padding: 0px 12px;
  border: 1px solid rgb(187, 187, 187);
  display: flex;
  align-items: center;
  line-height: 20px;
  height: 36px;
  color: rgb(60, 60, 60);
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
}
.item-btn__option button:hover {
  box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
}
.modal-dialog {
  max-width: 650px;
}
.modal-body__des {
  margin: 20px 0;
}
.label-helper {
  font-weight: 500;
}
.nav-link {
  color: rgb(102, 102, 102);
}
.body-list-sheets {
  height: calc(100vh - 375px);
  overflow: auto;
  color: rgb(60, 60, 60);
}
.tableHeader,
.tableRow {
  display: grid;
  grid-template-columns: 55% 15% 20% 10%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(220, 220, 220);
  height: 48px;
}
.tableHeader {
  font-weight: 600;
  cursor: default;
}
.tableRow:hover {
  cursor: pointer;
  background-color: rgb(246, 246, 246);
}
.tableCell,
.tableCell1 {
  display: flex;
  align-items: center;
  color: rgb(60, 60, 60);
}
.tableRowOnClick tbody tr:hover {
  cursor: pointer;
  background-color: #f6f6f6 !important;
}
.tableRowOnClick th {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
.tableRowOnClick tr {
  display: grid;
  grid-template-columns: 5% 15% 15% 15% 50%;
  padding-left: 60px;
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.tableRowOnClick {
  display: none;
}
.show {
  display: table;
}
.table-items tr {
  display: grid;
  grid-template-columns: 30% 10% 10% 15% 15% 10% 10%;
}
.noItemMeeting {
  height: calc(100% - 66px);
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.noItemMeeting-title {
  font-size: 22px;
  margin: 10px 0;
}
