/* header */
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgb(60, 60, 60);
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(102, 102, 102);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.row {
  margin: 0;
}
.header-nav {
  position: fixed;
  top: 22.5px;
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.band-name {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: rgba(246, 246, 246, 1);
  display: flex;
  align-items: center;
  cursor: default;
}
.band-name span {
  font-size: 18px;
}
.navbar {
  padding: 0;
}
.nav-build {
  font-size: 16px;
  align-items: center;
  color: rgb(60, 60, 60);
  display: flex;
  margin: 10px 0 10px 12px;
  font-weight: 500;
}
.icon-item {
  margin: 0 10px 0 0;
  background: rgba(205, 234, 247, 1);
  padding: 4px;
  color: rgb(6, 150, 215);
  border-radius: 5px;
}
.nav-build:hover {
  color: rgb(6, 150, 215);
  cursor: pointer;
}
.dropdown-menu {
  position: absolute !important;
  top: unset;
  color: rgb(60, 60, 60);
  box-shadow: rgb(12 44 84 / 15%) 0px 4px 14px, rgb(12 44 84 / 25%) 0px 0px 2px;
}
.header-nav .dropdown-item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 40px 0px 16px;
}
.header-nav .dropdown-item span {
  margin: 0 10px 0 0;
}
.user-account,
.menu-project {
  padding: 20px;
}
.user-info p:nth-child(1) {
  font-weight: bold;
}
.user-info {
  margin-bottom: 20px;
}

.navbar-nav {
  width: 100%;
}
.dropdown-menu.user-account.show {
  transform: translate(-100%, 0);
  left: 100%;
  width: 300px;
}
.dropdown-menu.menu-project.show {
  width: 400px;
}
.list-projects {
  height: 150px;
  overflow: auto;
  margin: 10px 0;
}
.list-title p {
  font-weight: bold;
  margin-top: 10px;
}
.list-item:hover {
  background-color: rgb(246, 246, 246);
  cursor: pointer;
}
.header-nav .active {
  background-color: rgb(6, 150, 215) !important;
  color: #fff;
}
.header-nav .active:hover {
  background-color: rgb(6, 150, 215);
}
.list-item {
  border-radius: 4px;
  padding: 10px;
  display: flex;
}
.list-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.item-name p {
  font-weight: bold;
}
.list-footer {
  padding: 10px 0;
}
/* header */

/* sidebar */
.col-2 {
  padding: 0;
  width: 240px;
  flex: none;
  max-width: none;
}
.container-fluid {
  padding: 0;
}
.body {
  margin-top: 75.5px;
}
.sideBar {
  position: fixed;
  top: 75.5px;
}

.list-group {
  background: rgba(246, 246, 246, 1);
  border-radius: unset;
  height: calc(100vh - 120.5px);
  overflow: auto;
}
.list-group-item span {
  margin: 0 10px 0 0;
  font-size: 30px;
}
.list-group-item {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: rgb(102, 102, 102);
  display: flex;
  padding: 10px;
  background: rgba(246, 246, 246, 1);
}
.list-group-item.active {
  color: rgb(6, 150, 215);
  background: rgb(255, 255, 255);
  border-left: 2px solid rgb(6, 150, 215);
}
.list-group-item:hover {
  color: rgb(6, 150, 215);
  background-color: unset;
}
.list-group-item.active:hover {
  background: rgb(255, 255, 255);
}
.hideCtrl {
  color: rgb(102, 102, 102);
  display: flex;
  padding: 10px 12px;
  background: rgba(246, 246, 246, 1);
}
.hideCtrl span:hover {
  cursor: pointer;
  color: rgb(6, 150, 215);
}
.icon-hidden {
  display: block;
}
.icon-show {
  display: none;
}
.table tr th .tooltipText,
.table tr td .tooltipText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: fit-content;
}
.table tr th,
.table tr td {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 1199px) {
  .isShow {
    display: none;
  }
  .col-2 {
    width: 55px;
  }
  .body-content {
    padding: 0 20px 0 75px;
  }
  .body {
    margin-top: 63.5px;
  }
  .sideBar {
    top: 63.5px;
  }
}
/* sidebar */
