<div class="band-name">
  <span class="material-icons mx-2"> public </span>
  QUẢN LÝ
  <p class="font-weight-bold mx-2">DỰ ÁN XÂY DỰNG 4.0</p>
</div>
<nav class="navbar navbar-expand-xl navbar-light border-bottom header-nav">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="dropdown">
          <div
            class="nav-build border-right"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-expanded="false"
            style="width: 230px"
          >
            <span class="material-icons icon-item"> build </span>
            <p>Thi công xây dựng</p>
            <span class="material-icons"> arrow_drop_down </span>
          </div>
          <div
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton"
            style="width: 260px"
          >
            <a class="dropdown-item" href="#">
              <span class="material-icons"> content_paste </span>
              Tài liệu
            </a>
            <a class="dropdown-item" href="#">
              <span class="material-icons"> architecture </span>
              Quy trình
            </a>
            <a class="dropdown-item" href="#">
              <span class="material-icons"> view_in_ar </span>
              Hồ sơ thanh quyết toán
            </a>
            <a class="dropdown-item" href="#">
              <span class="material-icons"> widgets </span>
              Bóc tách dự án
            </a>
            <a class="dropdown-item active" href="#">
              <span class="material-icons"> build </span>
              Thi công xây dựng
            </a>
            <a class="dropdown-item" href="#">
              <span class="material-icons"> content_copy </span>
              Chi phí
            </a>
            <a class="dropdown-item" href="#">
              <span class="material-icons"> insights </span>
              Insight
            </a>
            <a class="dropdown-item" href="#">
              <span class="material-icons"> settings </span>
              Project Admin
            </a>
            <a class="dropdown-item" href="#">
              <span class="material-icons"> settings </span>
              Account Admin
            </a>
          </div>
        </div>
      </li>
      <div class="d-flex justify-content-between w-100">
        <li class="nav-item">
          <div class="dropdown">
            <div
              class="nav-build"
              id="dropdownMenuProject"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="material-icons icon-item"> construction </span>
              <p>LACELIA CITY</p>
              <span class="material-icons mx-2"> public </span>
              <span class="material-icons"> arrow_drop_down </span>
            </div>
            <div
              class="dropdown-menu menu-project"
              aria-labelledby="dropdownMenuProject"
            >
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="dropdown-projects">
                <div class="list-title">
                  <p>Project</p>
                </div>
                <div class="list-projects">
                  <div class="list-item active">
                    <span class="material-icons"> construction </span>
                    <div>
                      <div class="item-name">
                        <p>LACELIA CITY</p>
                      </div>
                      <div class="item-des">
                        <p>taikhoan@congty.vn</p>
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <span class="material-icons"> construction </span>
                    <div>
                      <div class="item-name">
                        <p>THE CHARM - BÌNH DƯƠNG</p>
                      </div>
                      <div class="item-des">
                        <p>taikhoan@congty.vn</p>
                      </div>
                    </div>
                  </div>

                  <div class="list-item">
                    <span class="material-icons"> construction </span>
                    <div>
                      <div class="item-name">
                        <p>KHU DÂN CƯ VINACONEX 3 - PHỔ YÊN</p>
                      </div>
                      <div class="item-des">
                        <p>taikhoan@congty.vn</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-footer border-top">
                  <a href="">View all projects</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <div
              class="nav-build border-left pl-4"
              id="dropdownMenuUser"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <p>Nguyễn Văn A</p>
              <span class="material-icons"> arrow_drop_down </span>
            </div>
            <div
              class="dropdown-menu user-account"
              aria-labelledby="dropdownMenuUser"
            >
              <div class="user-info">
                <p class="">Nguyễn Văn A</p>
                <p>taikhoan@congty.vn</p>
                <a href="#">Notification Settings</a>
              </div>
              <div class="btn-user">
                <button type="button" class="btn btn-primary">
                  Profile settings
                </button>
                <button type="button" class="btn btn-light">Sign out</button>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</nav>
